/* Color Palette */
:root {
    --white: #FFF;
    --platinum: #E8EBE4;
    --gray: #BEC1BB;
    --blue-bell: #A491D2;
    --soap: #CDC3E6;
    --pale-lavender: #D4DCFF;
    --dark-jungle: #1B1F21;
    --outer-space: #444749;
    --old-silver: #828485;
    }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-jungle);
}
.pantalla {
    
    display: flex;
    
}
.principal {
    width: 78%;
    
    background: var(--platinum);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    /*border: 2px solid var(--gray); */
    /*margin-left: auto;*/
}
.principal img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
}
.principal p {
    padding-top: 10px;
}

.contactos {
    width: 22%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    border-right: 2px solid var(--platinum);
    margin-right: auto;
}

.estado {
    height: 7%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 2px solid var(--platinum);
    padding: 20px 30px;
}
.contacto_estado {
    display: flex;
    align-items:center;
    justify-content:flex-start;
    /*padding: 20px 30px;*/
}

.texto_estado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.estado img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 10px;
}

.fa-comment {
    font-size: 24px;
    color: var(--old-silver);
    padding: 5px; 
}

.fa-bars {
    font-size: 24px;
    color: var(--old-silver);
    padding: 5px;  
}


.botones {
    height: 14%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    border-bottom: 2px solid var(--platinum);
    
}

.boton {
    background-color: var(--blue-bell);
    color: var(--white);
    padding: 5% 17%;
    border: none;
    font-size: 1rem;
    
}
.contacto {
    height: 10%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    border-bottom: 2px solid var(--platinum);
    padding: 20px 30px;
}

.contacto img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 10px;
    
}

.large-text {
    font-size: 45px;
    padding-top: 30px; /* large */
}

.text-medium {
    font-size: 16px; /* medium */
}

.small-text {
    font-size: 14px; /* small */
}

.x-small-text {
    font-size: 10px; /* x-small */
}

.negrita {
    font-weight: bold;
}

.plomo {
    color: var(--gray);
}
/* Buttons */
.button {
    background-color: var(--blue-bell);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--soap);
}

.button:focus {
    outline: 2px solid var(--gray);
}
